*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(190, 189, 189);
}
.bar {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.commerce-logo {
    font-size: 20px;
    font-weight: 500;
}
#cart-icon {
    font-size:20px;
    cursor: pointer;
}
section {
    padding: 4rem 0 3rem;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: -2px 0 4 hsl(0 4%, 15% / 10%);
    overflow-x: hidden;
}
.cart h2 {
    text-align: center;
    color: rgb(180, 115, 115);

}
.title-sec {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
.shopping {
    margin: 1rem;
}
.shop-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, auto));
    gap: 15px;
    padding: 10px;
    margin-block: 20px;
    /* justify-content: center; */
    border-radius: 17px;
    /* background-color: aliceblue; */
}
.product-box img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background: black;
    border-style: none;
    margin: 20px;
}
.price {
    margin-left: 15px;
}
.product-box:hover {
    border: 1px solid black;
    cursor: pointer;
    padding:  3px;
    /* transition: 0.2s; */
}
.product-box h2 {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.add-cart {
    position: absolute;
    cursor: pointer;
    margin-left: 180px;
    color: rgb(255, 252, 252);

}
.product-box {
    background: rgb(126, 128, 127);
    border-radius: 5px;
}
