*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(190, 189, 189);
}
.bar {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.commerce-logo {
    font-size: 20px;
    font-weight: 500;
}
#cart-icon {
    font-size:20px;
    cursor: pointer;
}
section {
    padding: 4rem 0 3rem;
}
.cart {
    position: fixed;
    top: 10px;
    right: 0;
    border-radius: 10px;
    width: 300px;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}
.cart h2 {
    text-align: center;
    color: rgb(180, 115, 115);

}
.title-sec {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
.shopping {
    margin: 1rem;
    
}
.shop {
    background:linear-gradient(to right, #cbced0, #c8cac5) ;
}
.shop-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, auto));
    gap: 15px;
    padding: 10px;
    margin-block: 20px;
    /* justify-content: center; */
    border-radius: 17px;
}
.product-box img{
    object-fit: cover;
    height: 260px;
    width: 90%;
    border: 1px solid black;
    background: black;
    border-style: none;
    margin: 20px;
}
.price {
    margin-left: 15px;
}
.product-box:hover {
    border: 1px solid black;
    cursor: pointer;
    /* padding:  3px; */
    /* transition: 0.2s; */
}
.product-box h2 {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.add-cart {
    position: absolute;
    cursor: pointer;
    margin-left: 180px;
    color: rgb(255, 252, 252);

}
.product-box {
    background: rgb(110, 108, 102);
    border-radius: 5px;

}
.cart-content {
    display: flex;
}
.cart-box {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
}
.cart-box img {
    height: 100px;
    width: 100px;
    padding: 5px;
    object-fit: cover;
 
}
.cart-product-title {
    font-weight: 600;
}
.price-trash {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;

}
.trash {
    margin-left: 50px;
    cursor: pointer;
    color: rgb(219, 120, 120);
}
.cart-price {
    font-weight: 700;
}
input {
    width: 2.0rem;
    outline-color: red;
    text-align: center;
    font-size: 15px;
    font-weight: 500;

}
.total {
    display: flex;
    justify-content: flex-end;
    border-top: 1.4px solid black;
    gap: 10px;
    margin-top: 5px;
}
.total-title {
    font-weight: 600;
    margin-top: 5px;
}
.total-price {
    font-weight: 700;
    margin-top: 5px;
}
.buy {
    display: flex;
    margin: 0 100px 0 ;
    margin-top: 20px;
    width: 80px;
    align-items: center;
}